.navContainer {
  display: flex;
  width: 60vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  min-height: 80px;
  position: relative; /* To enable absolute centering of InstantSplitLogo */
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 1.9rem;
  padding-right: 1.8rem;
  opacity: 0;
  animation: delayedRender 0.1s ease 0.2s forwards;
}

@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}

.icon {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.5rem;
}

.text {
  line-height: 0.4;
  font-size: 1.4rem;
  text-align: center;
}

.iconContainer:hover,
icon:hover {
  color: var(--color-dark-dark);
  cursor: pointer;
}

/* Center the logo within navContainer regardless if other icons are present */
.middleLogo {
  position: absolute;
  padding-top: 1.3rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; /* to center Logo within InstantSplitLogo component */
}

/* Media queries for responsive design */
/* Mobile*/
@media only screen and (max-width: 768px) {
  .navContainer {
    width: 98vw;
  }
  .middleLogo {
    padding-top: 1.5rem;
  }
}

/* smartphone landscape mode*/
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .navContainer {
    width: 60vw;
  }
}

/* Tablet and portrait mode */
@media only screen and (min-device-width: 769px) and (max-device-width: 1366px) and (orientation: portrait) {
  .navContainer {
    width: 70vw;
  }
}

/* Tablet landscape mode */
@media only screen and (min-device-width: 769px) and (max-device-width: 1366px) and (orientation: landscape) {
  .navContainer {
    width: 55vw;
  }
}

/* Laptop*/
@media only screen and (min-width: 769px) and (max-width: 1440px) {
  .navContainer {
    width: 60vw;
    max-width: 55rem;
  }
}

/* Larger Screens */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .navContainer {
    width: 70rem;
  }
}

@media only screen and (min-width: 1921px) {
  .navContainer {
    width: 70rem;
  }
  .middleLogo {
    padding-top: 1.3rem;
  }
}

/* use full display for rendering main when display height is small, e.g. smartphone landscape mode*/
@media screen and (max-height: 500px) {
  .navContainer {
    width: 99vw;
  }
}
