.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.icon {
  font-family: "Ubuntu", sans-serif;
  color: var(--color-signal);
  font-size: 3rem;
  cursor: pointer;
}

.icon:hover {
  color: var(--color-success);
}

.leftAlignedIcon {
  margin-right: auto;
}

.rightAlignedIcon {
  margin-left: auto;
}
