.container {
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.8rem;
}

.slideInRight {
  animation: slideInRight 0.3s forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(80%);
  }
  to {
    transform: translateX(0);
  }
}
