.container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  overflow-y: auto;
}

.feedbackIcon {
  padding-top: 1rem;
  font-size: 2.5rem;
  line-height: 1;
  margin: 0 auto;
  width: 2rem;
}

.groupExists {
  color: var(--color-success);
  margin: 0 auto;
}

.groupDoesNotExist {
  color: var(--color-error);
  margin: 0 auto;
}

/* Delayed rendering to avoid flickering */
.container {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.2s forwards;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}
