.container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  margin: 0 auto;
  overflow-y: auto;
}

.groupExists {
  color: var(--color-success);
}
