.container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.container h1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.feedbackIcon {
  padding-top: 0.5rem;
  font-size: 2.5rem;
  line-height: 1;
  margin: 0 auto;
  width: 2rem;
}

.groupExists {
  color: var(--color-success);
  margin: 0 auto;
}

.groupDoesNotExist {
  color: var(--color-error);
  margin: 0 auto;
}

/* Delayed rendering to avoid flickering */
.container {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.2s forwards;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}
