.logoLink {
  text-decoration: none;
  margin: 0;
  text-align: center;
}

.logoLink:focus,
.logoLink:active {
  outline: none;
}

.logoImage {
  width: 26rem;
}

/* Ensure proper size across different mobile devices */
@media screen and (max-width: 500px) {
  .logoImage {
    width: 24rem;
  }
}

@media screen and (max-width: 400px) {
  .logoImage {
    width: 23rem;
  }
}

@media screen and (max-width: 360px) {
  .logoImage {
    width: 21rem;
  }
}

@media screen and (max-width: 320px) {
  .logoImage {
    width: 17rem;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .logoImage {
    width: 20rem;
  }
}
