/* Logo.css */
.logoLink {
  text-decoration: none;
  margin: 0;
  text-align: center;
}

.logoLink:focus,
.logoLink:active {
  outline: none;
}

.logoImage {
  width: 24rem;
  max-width: 30rem;
  min-width: 10rem;
}

@media screen and (max-width: 400px) {
  .logoImage {
    width: 20rem;
  }
}

@media screen and (max-width: 320px) {
  .logoImage {
    width: 15rem;
  }
}
