.groupActionsBar {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  padding: 0rem 0rem;
  width: 98%;
  margin: 0rem auto;
}

.intro {
  padding: 0 2rem;
}
