.groupActionsBar {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 1px solid var(--color-signal-reduced-opacity);
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 2rem;
  background-color: var(--color-body);
  border-radius: 10px;
}

.groupActionsBar:hover {
  box-shadow: 0 0 0.5rem var(--color-signal);
}
