.container {
  background-color: var(--color-main);
  color: var(--color-dark);
  width: 75%;
  margin: 0 auto;
  margin-top: 1rem;
}

.paymentSuggestions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  line-height: 1;
  margin-bottom: 0.5rem;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
}

.amount {
  display: flex;
  flex-direction: row;
}

.currency {
  color: var(--color-error);
}

.dueKey {
  color: var(--color-grey);
}

.settlementAmount {
  color: var(--color-error);
  text-align: right;
  width: 8rem;
}

.confirm {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0.5rem 1rem;
  }
}
