.container {
  background-color: var(--color-main);
  color: var(--color-dark);
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 0 0.2rem var(--color-signal),
    0.8rem 0.8rem 0 0 var(--color-signal-reduced-opacity);
}
.paymentSuggestions {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.settlementAmount {
  text-decoration: underline;
  font-weight: 900;
  color: var(--color-signal);
  margin-right: 1rem;
}

.confirm {
  margin-left: auto; /* push to the right */
}
