.spinner {
  position: absolute;
  margin: 0 auto;
  margin-top: 1rem;
}

.members {
  height: max-content;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0.5rem;
  width: 24rem;
  height: fit-content;
  border-radius: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  outline: none;
}

.noGroupMembers {
  color: var(--color-dark-light);
  padding: 0.4rem 0rem;
}

.groupMemberName {
  display: flex;
  align-self: center;
  padding-left: 0.3rem;
}

.emoji {
  font-size: 1.4rem;
  margin-right: 0.3rem;
  padding-bottom: -0.2rem;
  display: flex;
  align-self: center;
}

.button {
  padding-top: 0.4rem;
  font-size: 2rem;
  color: var(--color-signal);
  margin-left: auto;
  cursor: pointer;
}

.linkButton:hover,
.button:hover {
  color: var(--color-signal-dark);
}

.linkButton {
  margin-left: 1.1rem;
  padding-top: 0.4rem;
  font-size: 2rem;
  color: var(--color-signal);
  cursor: pointer;
}

.listItem {
  display: flex;
  flex-direction: row;
  width: 24rem;
  padding-right: 0rem;
  line-height: 1;
}

.groupMemberListItem,
.groupMemberListItemLink {
  display: flex;
  line-height: 1;
}

.emojiCreation {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.linkWrapper {
  width: 20rem;
}
.groupMemberName {
  width: 19rem;
}

.listItem a {
  color: var(--color-dark);
}

.listItem a:hover {
  color: var(--color-dark-dark);
  background-color: var(--color-body);
  border-radius: 1rem;
}

@media screen and (max-width: 768px) {
  .members {
    max-height: 30rem;
  }
}
