.totalsContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding-left: 4.5rem;
}

.expenseEmoji {
  transform: scale(1.15);
}

.list {
  width: 85%;
  max-width: 33rem;
}

.item {
  display: flex;
  justify-content: space-between;
}

.value {
  text-align: right;
}

@media screen and (max-width: 500px) {
  .totalsContainer {
    width: 100%;
  }
}
