.payments {
  display: flex;
}

.payments li {
  line-height: 1.25;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--color-signal-reduced-opacity);
}

.amountLine {
  display: flex;
  flex-direction: row;
}

.actionLine {
  text-align: right;
}

.paymentAmount {
  text-align: right;
  width: 8rem;
}

.rightColumn {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 0.3rem;
  margin-left: 3rem;
  width: 80%;
  border-top: 2px solid var(--color-signal-reduced-opacity);
}

.key {
  color: var(--color-grey);
}

@media (max-width: 500px) {
  .rightColumn {
    margin-left: 1rem;
    border-top: none;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
  }
  .leftColumn {
    margin-right: 0.5rem;
    border-top: none;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
  }
}
