.payments {
  display: flex;
}

.leftColumn {
  display: flex;
  align-items: center;
  border-top: 2px solid var(--color-signal-reduced-opacity);
}

.paymentEmoji {
  margin-right: 2rem;
}

/* Ensure that numbers are right aligned to be easily readable */
.paymentAmount {
  text-align: right;
  width: 8rem; /* white space on the left */
}

.rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 3rem;
  margin-right: 2rem;
  width: 80%;
  border-top: 2px solid var(--color-signal-reduced-opacity);
}

@media (max-width: 500px) {
  .rightColumn {
    margin-left: 1rem;
    border-top: none;
  }
  .leftColumn {
    margin-right: 0.5rem;
    border-top: none;
  }
}
