.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  overflow-y: auto;
}

.container h1 {
  margin-bottom: 0.5rem;
}

/* Delayed rendering to avoid flickering */
.container {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.2s forwards;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}
