.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container label {
  font-size: 1.6rem;
  line-height: 1.6;
}

.formContainer {
  margin-bottom: 1rem;
}

.fileUpload {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.debugButton {
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
