.container h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.container {
  width: fit-content;
  margin: 0 auto;
}

/* Delayed rendering to avoid flickering */
.container {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.2s forwards;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}
