.expenses {
  display: flex;
  width: 50rem;
  margin: 0 auto;
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
}

.expenses:hover {
  background-color: var(--color-body);
}

.rightColumn {
  display: flex;
  flex-direction: column;
}

.amountLine {
  display: flex;
  flex-direction: row;
}

.actionLine {
  text-align: right;
}

.expenseAmount {
  text-align: right;
  width: 10.5rem;
}

.expenseEmoji {
  margin-right: 0.4rem;
}

.leftColumn {
  display: flex;
  flex-direction: row;
  margin-right: 0rem;
  width: 80%;
}

.key {
  color: var(--color-dark);
  font-weight: 300;
}

.leftColumn .expenseEmoji {
  margin-bottom: 0.5rem;
}
.leftColumn li,
.rightColumn li {
  line-height: 1.25;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .expenses {
    width: 100%;
  }

  .leftColumn,
  .rightColumn {
    border-top: 2px solid var(--color-signal-reduced-opacity);
    border-top: none;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
  }
  .rightColumn {
    margin-left: 0rem;
  }
  .leftColumn {
    margin-right: 0rem;
  }
  .leftColumn li,
  .rightColumn li {
    line-height: 1.25;
    font-size: 1.5rem;
  }
}
