.container {
  width: 60%;
  height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  padding-bottom: 2rem;
}

.container h1 {
  margin-bottom: 0rem;
}

.container h2 {
  margin-top: 0rem;
}

.settingsContainer {
  margin-left: 7%;
}

@media screen and (max-width: 767px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1921px) {
  .container {
    width: 50%;
  }
}
