.button {
  background-color: var(--color-grey);
  font-family: "Ubuntu", sans-serif;
  color: var(--color-main);
  border: none;
  padding-left: 0.2rem;
  padding-right: 0.4rem;
  font-size: 2.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.button:hover {
  background-color: var(--color-success);
  box-shadow: 0 0 0.5rem var(--color-success);
}

/* Align the button within its container */
.leftAligned {
  display: flex;
  justify-content: left;
}

.rightAligned {
  display: flex;
  justify-content: right;
}

.centerAligned {
  display: flex;
  justify-content: center;
}
