.button {
  background-color: var(--color-signal);
  color: var(--color-main);
  border: none;
  padding: 0.2rem;
  margin: 0.2rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.5rem var(--color-signal);
}

.button:hover {
  background-color: var(--color-success);
  box-shadow: 0 0 0.5rem var(--color-success);
}

.inactiveButton {
  opacity: 0.6;
  filter: grayscale(15%);
}

.inactiveButton:hover {
  opacity: 1;
  filter: grayscale(0%);
}
