.container {
  margin-top: 0.5rem;
}
.explanation {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  width: 20rem;
  border: 0.15rem solid var(--color-grey);
  border-radius: 1rem;
  font-size: 1.6rem;
  overflow-y: auto;
  height: fit-content;
  outline: none;
  outline-color: var(--color-grey);
  line-height: 1.2;
}

.explanation:hover,
.explanation:focus {
  border-color: var(--color-signal);
  background-color: var(--color-body);
}

.groupCode {
  padding-top: 0.5rem;
}
