.container {
  line-height: 1.5;
  width: 100%;
  padding: 0.5rem 0;
}

.list li {
  list-style-type: disc;
  margin-left: 3rem;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .list li {
    margin-left: 2rem;
  }
}
