.container {
  padding: 0.5rem 1rem;
  line-height: 1.5;
  width: 100%;
}
/* Mobile*/
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    margin-left: 0.5rem;
  }
}

.groupCodeExplanation {
  display: flex;
  flex-direction: column;
}
