.beneficiaries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.2rem 0.5rem;
  text-align: left;
  width: 20rem;
  margin: 0 auto;
  border: 0.2rem solid var(--color-grey);
  border-radius: 0.8rem;
  overflow-y: auto;
  height: 30%;
}

.beneficiaries:hover,
.beneficiaries:focus {
  border-color: var(--color-signal);
  box-shadow: 0 0 0.5rem var(--color-success);
}

.beneficiaries.isUpdate {
  color: var(--color-grey);
}

.beneficiaries.isUpdate:focus {
  color: var(--color-dark2);
}

.label {
  display: inline-block;
}

.beneficiaries .input {
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--color-main);
  border: 0.2rem solid var(--color-grey);
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
  outline: none;
  vertical-align: middle;
  margin: 0.2rem;
}

.beneficiaries .input:checked {
  background-color: var(--color-signal);
  border-color: var(--color-success);
  box-shadow: 0 0 0.5rem var(--color-success);
  height: 1.4rem;
  width: 1.4rem;
  /* checkmark form */
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.beneficiaries.isUpdate .input:checked {
  background-color: var(--color-grey);
}
