.beneficiaries {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  flex-wrap: wrap;
  width: 25rem;
  margin: 0 auto;
  border: 0.2rem solid var(--color-grey);
  border-radius: 0.8rem;
  overflow-y: auto;
  height: 30%;
}

.beneficiaries:hover,
.beneficiaries:focus {
  border-color: var(--color-signal);
  box-shadow: 0 0 0.5rem var(--color-success);
}

.beneficiaries.isUpdate {
  color: var(--color-grey);
}

.beneficiaries.isUpdate:focus {
  color: var(--color-dark2);
}

.toggleButton {
  color: var(--color-dark);
  background-color: var(--color-main);
  font-family: "Ubuntu", sans-serif;
  padding: 0.2rem;
  border: 0.2rem solid var(--color-grey);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-align: center;
  outline: none;
  margin-bottom: 0.5rem;
  width: 5.5rem;
}

.toggleButton:focus {
  border-color: var(--color-signal);
  box-shadow: 0 0 0.5rem var(--color-success);
}

.toggleButton.isUpdate {
  color: var(--color-grey);
}

.toggleButton.isUpdate:focus {
  color: var(--color-dark2);
}
.beneficiaries input[type="checkbox"] {
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--color-main);
  border: 0.2rem solid var(--color-grey);
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  outline: none;
  vertical-align: middle;
  margin: 0.2rem;
}

.beneficiaries input[type="checkbox"]:checked {
  background-color: var(--color-signal);
  border-color: var(--color-success);
  box-shadow: 0 0 0.5rem var(--color-success);
  height: 1.6rem;
  width: 1.6rem;
  /* checkmark form */
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
