.emoji {
  display: flex;
  gap: 0.4rem;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0 auto;
  margin-bottom: 0.2rem;
}

.beneficiaries {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;
  text-align: center;
  max-width: 80%;
  max-width: 45rem;
  min-width: 20rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  overflow-y: auto;
  height: fit-content;
  max-height: 45vh;
  outline: none;
  outline-color: var(--color-grey);
}

.label:hover,
.label:focus {
  border-color: var(--color-signal);
  background-color: var(--color-body);
}

.beneficiaries.isUpdate {
  color: var(--color-grey);
}

.beneficiaries.isUpdate:focus {
  color: var(--color-dark2);
}

.label {
  display: inline-block;
  border-radius: 2rem;
  border: 0.15rem solid var(--color-grey);
  padding-right: 0.5rem;
  margin: 0.25rem;
  margin-bottom: 0.5rem;
}

.beneficiaries:hover {
  cursor: pointer;
}
.beneficiaries .input {
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  margin-right: 0.2rem;
  margin-top: 0.3rem;
  margin-left: 0.2rem;
}

/* checkmarks*/
.beneficiaries .input:checked {
  background-color: var(--color-signal);
  border-color: var(--color-success);
  height: 1.6rem;
  width: 1.6rem;
  clip-path: polygon(
    20% 50%,
    35% 70%,
    50% 90%,
    80% 20%,
    70% 10%,
    50% 70%,
    30% 50%
  );
}

.beneficiaries.isUpdate .input:checked {
  background-color: var(--color-grey);
}

.button {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .beneficiaries {
    max-width: 85%;
    min-width: 20rem;
  }
}
