.payments {
  display: flex;
}

.payments:hover {
  background-color: var(--color-body);
}

.leftColumn {
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--color-signal-reduced-opacity);
}

.amountLine {
  display: flex;
  flex-direction: row;
}

.actionLine {
  text-align: right;
}

.paymentAmount {
  text-align: right;
  width: 9.5rem;
}

.rightColumn {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 0.3rem;
  margin-left: 2rem;
  width: 80%;
  border-top: 2px solid var(--color-signal-reduced-opacity);
}

.key {
  color: var(--color-grey);
}

.leftColumn li,
.rightColumn li {
  line-height: 1.25;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .leftColumn,
  .rightColumn {
    border-top: none;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
  }
  .leftColumn {
    margin-left: 0rem;
  }
  .rightColumn {
    margin-right: 0rem;
    margin-left: 1.5rem;
  }
  .leftColumn li,
  .rightColumn li {
    line-height: 1.25;
    font-size: 1.5rem;
  }
}
