.payments {
  display: flex;
  width: 50rem;
  margin: 0 auto;
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
}

.paymentEmoji {
  margin-right: 0.4rem;
}

.payments:hover {
  background-color: var(--color-body);
}

.leftColumn {
  display: flex;
  flex-direction: column;
}

.amountLine {
  display: flex;
  flex-direction: row;
}

.actionLine {
  text-align: right;
}

.paymentAmount {
  text-align: right;
  width: 11rem;
}

.leftColumn {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 0.3rem;
  width: 80%;
}

.key {
  color: var(--color-dark);
  font-weight: 300;
}

.leftColumn li,
.rightColumn li {
  line-height: 1.25;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .payments {
    width: 100%;
    padding: 0.1rem 0.5rem;
  }
  .leftColumn,
  .rightColumn {
    border-top: none;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
  }
  .rightColumn {
    margin-left: 0rem;
  }
  .leftColumn {
    margin-right: 0rem;
  }
  .leftColumn li,
  .rightColumn li {
    line-height: 1.25;
    font-size: 1.5rem;
  }
}
