.terms {
  text-wrap: wrap;
  font-style: italic;
  font-size: 1.5rem;
  text-align: left;
  max-width: 40rem;
  margin: 0 auto;
}

.tncLink {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .terms {
    margin-top: 0.5rem;
    width: 30rem;
  }
}
