.emojiParenthesis {
  white-space: nowrap;
}

.failMessage {
  overflow-y: auto;
  margin-bottom: 0.5rem;
}

@media (max-width: 500px) {
  .failMessage {
    margin: 0 auto;
    text-align: center;
  }
}
