.spinner {
  margin: 0 auto;
  margin-top: 5rem;
}

.groupActionsBar {
  margin: 0 auto;
}

main {
  overflow-x: hidden;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto;
}

.topBar h1 {
  font-size: 2.1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
