.topBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto;
}

.topBar h1 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.container {
  height: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}

/* Delayed rendering to avoid flickering */
.topBar {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.25s forwards;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}

/* Media queries for responsive design
/* very slim devices*/
@media only screen and (max-width: 350px) {
  .topBar h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 400px) {
  .topBar h1 {
    font-size: 1.9rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}

/* Mobile*/
@media only screen and (max-width: 768px) {
  .topBar h1 {
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
}
