:root {
  --color-body: #f8f7ff;
  --color-body-light: ##fcf7ff;
  --color-main: #ffffff;
  --color-dark: #454372;
  --color-dark-dark: #302a4d;
  --color-dark-light: #6b6d96;
  --color-dark2: #00100b;
  --color-dark2-light: #26302c;
  --color-grey: #999bad;
  --color-grey-dark: #5c5e6f;
  --color-grey-light: #b8bacd;
  --color-error: #ef946c;
  --color-error-dark: #d55c22;
  --color-error-light: #f7cfbf;
  --color-signal: #559cad;
  --color-signal-reduced-opacity: rgba(85, 156, 173, 0.3);
  --color-signal-dark: #416469;
  --color-signal-light: #67cae3;
  --color-success: #749c75;
  --color-success-dark: #607860;
  --color-success-light: #8eb791;
}

::selection {
  background-color: var(--color-signal);
  color: var(--color-body);
}

:focus {
  outline: 0.1rem solid var(--color-dark-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: var(--color-dark);
  font-weight: 400;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--color-body);
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 1.6rem;
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: var(--color-main);
  border-radius: 2rem;
  border: 0.1rem solid var(--color-signal-reduced-opacity);
  width: 60vw;
  height: 80vh;
  max-height: 750px;
  margin-top: 1rem;
}

h1 {
  text-align: center;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.7rem;
}
h4,
h5,
h6 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

a {
  color: var(--color-signal);
  outline: none;
}

a:hover {
  color: var(--color-dark);
}

ul {
  list-style: none;
}

li {
  font-size: 1.6rem;
  line-height: 1.5;
}

button,
select,
input,
textarea {
  font-family: "Ubuntu", sans-serif;
}

/* Remove default a, input, textarea and select outline style*/
a:active,
a:focus,
a:hover,
textarea:active,
textarea:focus,
textarea:hover,
select:active,
select:focus,
select:hover,
input:active,
input:focus,
input:hover,
button:hover,
button:active,
button:focus {
  outline: none;
}

textarea,
select,
input,
textarea {
  color: var(--color-dark);
  background-color: var(--color-main);
  font-family: "Ubuntu", sans-serif;
  width: 20rem;
  border: 0.15rem solid var(--color-grey);
  border-radius: 1rem;
  font-size: 1.6rem;
  outline: none;
  margin-bottom: 0.5rem;
  outline-color: var(--color-grey);
}

input,
textarea {
  padding: 0.4rem 1rem;
}

select {
  padding: 0.4rem 0.5rem;
}

select:focus,
select:hover,
input:focus,
input:hover {
  border-color: var(--color-signal);
  background-color: var(--color-body);
}

::-webkit-scrollbar,
scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb,
scrollbar-thumb {
  background-color: var(--color-signal-reduced-opacity);
  border-radius: 0.5rem;
}

/* Media queries for responsive design */
/* Mobile*/
@media only screen and (max-width: 767px) {
  main {
    margin-top: 0.5rem;
    height: 84vh;
    height: 94svh;
    width: 98vw;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  footer {
    height: 6vh;
    height: 6svh;
  }

  p,
  textarea,
  select,
  input,
  textarea {
    font-size: 1.6rem;
  }
}

/* smartphone landscape mode*/
@media only screen and (max-width: 768px) and (orientation: landscape) {
  main {
    height: 81vh;
    height: 91svh;
    width: 60vw;
  }
  footer {
    height: 6vh;
    height: 6svh;
  }
}

/* Tablet and portrait mode */
@media only screen and (min-device-width: 769px) and (max-device-width: 1366px) and (orientation: portrait) {
  main {
    height: 85vh;
    height: 95svh;
    width: 70vw;
  }
  footer {
    height: 6vh;
    height: 6svh;
  }
}

/* Tablet landscape mode */
@media only screen and (min-device-width: 769px) and (max-device-width: 1366px) and (orientation: landscape) {
  main {
    height: 77vh;
    height: 87svh;
    width: 55vw;
    max-width: 55rem;
  }
  footer {
    height: 6vh;
    height: 6svh;
  }
}

/* Laptop*/
@media only screen and (min-width: 769px) and (max-width: 1440px) {
  main {
    padding-top: 0rem;
    height: 91vh;
    height: 91svh;
    width: 60vw;
    max-width: 55rem;
  }
  footer {
    height: 5vh;
  }
}

/* Larger Screens */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  main {
    height: 90vh;
    height: 90svh;
    width: 55rem;
  }
}

@media only screen and (min-width: 1921px) {
  main {
    height: 75rem;
    width: 68rem;
  }
}

/* use full display for rendering main when display height is small, e.g. smartphone landscape mode*/
@media screen and (max-height: 500px) {
  main {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    height: 98vh;
    height: 98svh;
    width: 99vw;
  }
}
