:root {
  --color-body: #f8f7ff;
  --color-body-light: ##fcf7ff;
  --color-main: #ffffff;
  --color-dark: #454372;
  --color-dark-dark: #302a4d;
  --color-dark-light: #6b6d96;
  --color-dark2: #00100b;
  --color-dark2-light: #26302c;
  --color-grey: #999bad;
  --color-grey-dark: #5c5e6f;
  --color-grey-light: #b8bacd;
  --color-error: #ef946c;
  --color-error-dark: #d55c22;
  --color-error-light: #f7cfbf;
  --color-signal: #559cad;
  --color-signal-reduced-opacity: rgba(85, 156, 173, 0.3);
  --color-signal-dark: #416469;
  --color-signal-light: #67cae3;
  --color-success: #749c75;
  --color-success-dark: #607860;
  --color-success-light: #8eb791;
}

::selection {
  background-color: var(--color-signal);
  color: var(--color-body);
}

:focus {
  outline: 0.1rem solid var(--color-dark-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: var(--color-dark);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--color-body);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 1.6rem;
  text-align: center;
}

main {
  border: 0.2rem solid var(--color-signal-reduced-opacity);
  display: flex;
  flex-direction: column;
  background-color: var(--color-main);
  border-radius: 1rem;
  margin: 0 auto;
  box-shadow: 0 0 0.5rem var(--color-signal-reduced-opacity);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.7rem;
}
h4,
h5,
h6 {
  font-size: 1.6rem;
}

p,
li {
  font-size: 1.6rem;
}

a {
  color: var(--color-signal);
}

a:hover {
  color: var(--color-success);
}

a:focus {
  outline: 0.2rem solid var(--color-signal);
  outline-offset: 0.2rem;
  border-radius: 0.5rem;
}

ul {
  list-style: none;
}

button,
select,
input,
textarea {
  font-family: "Ubuntu", sans-serif;
}

input {
  border: 0.2rem solid var(--color-grey);
  border-radius: 0.5rem;
  text-align: center;
  outline: none;
}

::-webkit-scrollbar,
scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb,
scrollbar-thumb {
  background-color: var(--color-signal-reduced-opacity);
  border-radius: 0.5rem;
}

/* Media queries for responsive design */
/* Mobile*/
@media only screen and (max-width: 767px) {
  header {
    /* fallback value for older browsers*/
    height: 6vh;
    height: 6svh;
  }
  main {
    height: 76vh;
    height: 86svh;
    width: 95vw;
  }
  footer {
    height: 8vh;
    height: 8svh;
  }
}

/* Mobile with small height, ie with keyboard shown*/
@media (max-width: 767px) and (max-height: 500px) {
  main {
    height: 99vh;
  }
}

/* Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    /* fallback value for older browsers*/
    height: 6vh;
    height: 6svh;
  }
  main {
    height: 76vh;
    height: 86svh;
    width: 70vw;
  }
  footer {
    height: 8vh;
    height: 8svh;
  }
}

/* Tablet landscape mode*/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  header {
    /* fallback value for older browsers*/
    height: 6vh;
    height: 6svh;
  }
  main {
    height: 75vh;
    height: 85svh;
    width: 60vw;
  }
  footer {
    height: 8vh;
    height: 8svh;
  }
}

/* Laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  header {
    height: 5vh;
  }
  main {
    padding-top: 0rem;
    height: 86vh;
    width: 60vw;
  }
  footer {
    height: 5vh;
  }
}

/* Larger Screens */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  header {
    height: 6vh;
  }
  main {
    height: 84vh;
    width: 55rem;
  }
}

@media only screen and (min-width: 1921px) {
  header {
    height: 5rem;
  }
  main {
    height: 70rem;
    width: 68rem;
  }
}
