:root {
  --color-body: #f8f7ff;
  --color-main: #ffffff;
  --color-dark: #454372;
  --color-dark2: #00100b;
  --color-grey: #999bad;
  --color-error: #ef946c;
  --color-signal: #559cad;
  --color-signal-reduced-opacity: rgba(85, 156, 173, 0.3);
  --color-success: #749c75;
}

::selection {
  background-color: var(--color-signal);
  color: var(--color-body);
}

:focus {
  outline: 0.2rem solid var(--color-success);
  padding: 0.1 rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

a {
  color: var(--color-signal);
}

body {
  font-family: "Ubuntu", sans-serif;
  color: var(--color-dark);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--color-body);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main);
  height: 84vh;
  border-radius: 10px;
  width: 75vw;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.3rem;
}

ul {
  list-style: none;
}

@media (max-width: 768px) {
  main {
    width: 100vw;
  }
}

/* bigger devices */
@media (min-width: 769px) and (max-width: 1600px) {
  main {
    width: 70vw;
    height: 64vh;
  }
}

/* large devices */
@media (min-width: 1601px) {
  main {
    width: 45vw;
    height: 65vh;
  }
}
