# Project variables
config.dev.env
config.prod.env
.env.development
.env.production

# Dependencies, build & dist folders
node_modules/
build/
dist/

# Dev tools
.eslintrc.json
.prettierrc
vite.config.js
.vscode/




# Local Netlify folder
.netlify
