.expenses {
  display: flex;
  transform: translateX(0.3rem);
}

.leftColumn {
  display: flex;
  align-items: center;
  border-top: 2px solid var(--color-signal-reduced-opacity);
}

.expenseEmoji {
  margin-right: 1.7rem;
}

/* Ensure that numbers are right aligned to be easily readable */
.expenseAmount {
  text-align: right;
  width: 9rem; /* white space on the left */
}

.rightColumn {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  border-top: 2px solid var(--color-signal-reduced-opacity);
}
/* Remove the bottom border for empty elements */
.rightColumn > :empty {
  border-bottom: none;
}

/* Adjust the height of elements within rightColumn */
.rightColumn .expenseEmoji,
.rightColumn strong {
  margin-bottom: 0.5rem; /* Increase the margin to create more space */
}

@media (max-width: 500px) {
  .rightColumn {
    margin-left: 1rem;
    border-top: none;
  }
  .leftColumn {
    margin-right: 0.5rem;
    border-top: none;
  }
}
