.expenses {
  display: flex;
  transform: translateX(0.3rem);
}

.leftColumn {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-signal-reduced-opacity);
}

.expenseEmoji {
  margin-right: 1.7rem;
}

.rightColumn {
  margin-right: 2rem;
}

/* Ensure that numbers are right aligned to be easily readable */
.expenseAmount {
  text-align: right;
  width: 8rem; /* white space on the left */
}

.rightColumn {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  border-bottom: 2px solid var(--color-signal-reduced-opacity);
}

/* Adjust the height of elements within rightColumn */
.rightColumn .expenseEmoji,
.rightColumn strong {
  margin-bottom: 0.5rem; /* Increase the margin to create more space */
}
