.container {
  padding-top: 0.3rem;
  font-family: "Noto Emoji Color";
}

.container select {
  color: var(--color-dark);
  background-color: var(--color-body);
  font-family: "Noto Emoji Color";
  width: fit-content;
  border: 0.15rem solid var(--color-grey);
  border-radius: 1rem;
  font-size: 1.4rem;
  outline: none;
  padding: 0.1rem 0.3rem;
  outline-color: var(--color-grey);
}
