.expenses {
  display: flex;
  line-height: 1.2;
}

.leftColumn {
  display: flex;
  border-top: 2px solid var(--color-signal-reduced-opacity);
}

.expenseAmount {
  text-align: right;
  width: 8rem;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 1rem;
  width: 80%;
  border-top: 2px solid var(--color-signal-reduced-opacity);
}

.rightColumn .expenseEmoji {
  margin-bottom: 0.5rem;
}

@media (max-width: 500px) {
  .rightColumn {
    margin-left: 1rem;
    border-top: none;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
  }
  .leftColumn {
    margin-right: 0.5rem;
    border-top: none;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
  }
}

.key {
  color: var(--color-grey);
}
