.container {
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
  width: fit-content;
  border: 0.1rem solid var(--color-signal-reduced-opacity);
  background-color: var(--color-body);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  gap: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 0rem;
}

.container:hover {
  box-shadow: 0 0 0.5rem var(--color-signal);
}

.icon:hover {
  color: var(--color-success);
}
