.container {
  display: flex;
  justify-content: space-evenly;
  border: 0.1rem solid var(--color-signal-reduced-opacity);
  background-color: var(--color-body);
  border-radius: 1rem;
  font-size: 0rem;
  width: 95%;
  margin: 1rem auto;
}

.container:hover {
  box-shadow: 0 0 0.5rem var(--color-signal);
}
