.container {
  width: 100%;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  margin: 0 auto;
  overflow-y: auto;
}

.container h2 {
  margin-bottom: 0rem;
}

.negativeBalance {
  padding-left: 0.4rem;
  color: var(--color-error);
}

.userSettings {
  margin-top: 1rem;
}

.userSettings h3 {
  margin-top: 2rem;
  margin-bottom: 0.4rem;
}

.userBalances {
  margin-top: 2rem;
}
