.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  overflow-y: scroll;
}

.container h1 {
  margin-bottom: 0.5rem;
}

.container h2 {
  margin-bottom: 0rem;
  text-align: center;
}

.negativeBalance {
  padding-left: 0.4rem;
  color: var(--color-error);
}

.userSettings {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding-left: 4.5rem;
}

.userBalances {
  margin-top: 2rem;
}

.button {
  width: fit-content;
  min-width: 20rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.transactionHistoryButton {
  width: fit-content;
  margin: 0 auto;
}

.deleteUserButton {
  padding-top: 2rem;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .userSettings {
    width: 100%;
  }
}

/* Delayed rendering to avoid flickering */
.container {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.3s forwards;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}
