.container {
  width: 100%;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  margin: 0 auto;
  overflow-y: auto;
}

.negativeBalance {
  padding-left: 0.4rem;
  color: var(--color-error);
}

.deleteButton {
  padding-top: 6rem;
}
