.container h2 {
  margin-top: 0.5rem;
}

.container {
  width: 41%;
  height: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

.container h1 {
  margin-bottom: 0rem;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 60%;
  }
}
