.container {
  margin-top: 1rem;
}

.negativeBalance {
  color: var(--color-error);
}

.userListItem {
  list-style: none;
}

.userDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

