.container {
  overflow-y: auto;
  height: 90%;
  overflow-x: hidden;
}

.introText {
  width: 78%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

/* Ensure that in app navigation next button is rendered on the right */
.rightAligned {
  width: 7rem;
  margin-left: auto;
}

.rightAligned:hover {
  color: var(--color-success);
  cursor: pointer;
}

.skipToApp {
  margin-top: 2rem;
  text-align: center;
}

/* Mobile*/
@media only screen and (max-width: 500px) {
  .introText {
    width: 90%;
    margin-left: 1.5rem;
  }
}
