.container {
  overflow-y: auto;
  height: 90%;
  overflow-x: hidden;
}

.intro {
  border-bottom: 0.2rem solid var(--color-signal-reduced-opacity);
  width: 99%;

  margin: 0 auto;
}

.section {
  border-bottom: 0.2rem solid var(--color-signal-reduced-opacity);
  width: 99%;
  margin: 0 auto;
}

/* Ensure that in app navigation next button is rendered on the right */
.rightAligned {
  width: 7rem;
  margin-left: auto;
}

.rightAligned:hover {
  color: var(--color-success);
  cursor: pointer;
}
