.container {
  padding: 0 1rem; /* Limiting width while keeping scrollbar on the border */
  overflow-y: auto;
  height: 90%;
  overflow-x: hidden;
}

.intro {
  border-bottom: 0.2rem solid var(--color-signal-reduced-opacity);
  width: 98%;
  margin: 0 auto;
}
