.container {
  padding: 0.5rem 0;
  line-height: 1.5;
  width: 100%;
}

.recommendedBrowsersList li {
  list-style-type: disc;
  margin-left: 3rem;
  line-height: 1.5;
}
/* Mobile*/
@media only screen and (max-width: 768px) {
  .recommendedBrowsersList li {
    margin-left: 2rem;
    line-height: 1.5;
  }
}
