.totalExpenses {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  line-height: 1.6;
  width: fit-content;
  margin: 0 auto;
  color: var(--color-dark);
  font-style: italic;
  padding-top: 0.5rem;
}

.totalExpensesAmount {
  text-decoration: underline;
  margin-left: 0.5rem;
}

.emoji {
  font-size: 1.6rem;
}

@media screen and (max-width: 500px) {
  .totalExpenses {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 0.3rem 0.6rem;
  }

  @media screen and (max-width: 360px) {
    .totalExpenses {
      font-size: 1.4rem;
      line-height: 1.1;
    }
  }
}
