.paymentRecipient {
  width: 12rem;
  padding: 0.2rem;
  font-size: 1.6rem;
  text-align: center;
  outline: none;
  border: 0.2rem solid var(--color-grey);
  border-radius: 0.5rem;
  color: var(--color-dark);
  background-color: var(--color-main);
}
.paymentRecipient:focus {
  border-color: var(--color-signal);
  box-shadow: 0 0 0.5rem var(--color-success);
}
