.paymentRecipient.isUpdate {
  color: var(--color-grey);
}

.paymentRecipient.isUpdate:focus {
  color: var(--color-dark2);
}

.paymentRecipient {
  margin: 0 auto;
  margin-top: 0.5rem;

  margin-bottom: 0.5rem;
}
