.groupContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.groupLink {
  text-decoration: none;
  font-size: 1.7rem;
}

.groupLink:focus,
.groupLink:active {
  outline: none;
  color: var(--color-success);
}

.groupLink:hover {
  color: var(--color-success);
}
