.container {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  padding-left: 2rem;
  border: 1px solid var(--color-signal-reduced-opacity);
  background-color: var(--color-body);
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.container:hover {
  box-shadow: 0 0 0.5rem var(--color-signal);
}
