.explanationContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 85%;
  overflow-x: hidden;
  overflow-y: auto;
}

h2 {
  padding-top: 2rem;
  font-size: 1.6rem;
  margin-bottom: 0rem;
}

.noWrap {
  white-space: nowrap;
}

.terms {
  font-style: italic;
  width: 90%;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.strong {
  font-weight: bold;
}

p {
  margin-top: 1rem;
}

.button {
  background-color: var(--color-dark);
  color: var(--color-main);
  border: none;
  padding: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 1rem;
  width: 7rem;
}

.button:hover,
.button:active {
  background-color: var(--color-success);
  box-shadow: 0 0 0.5rem var(--color-success);
}
