.container {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.explanationContainer {
  max-width: 80%;
}

h2 {
  padding-top: 2rem;
  font-size: 2rem;
  margin-bottom: 0rem;
}

p {
  margin-top: 1rem;
}

.button {
  background-color: var(--color-dark);
  color: var(--color-main);
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 1rem;
  width: 7rem;
}

.button:hover,
.button:active {
  background-color: var(--color-success);
  box-shadow: 0 0 0.5rem var(--color-success);
}
