.container {
  margin-top: 0.5rem;
}

.groupNameContainer {
  display: flex;
  width: 23.3rem;
}

.editContainer {
  height: 2.4rem;
}

.groupName {
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  font-size: 1.6rem;
  overflow-y: scroll;
  height: fit-content;
  outline: none;
  line-height: 1.2;
  overflow-x: hidden;
}

.icon {
  margin-left: auto;
}
