.inputField {
  font-family: "Ubuntu", sans-serif;
  width: 15rem;
  padding: 0.3rem;
  border: 0.2rem solid var(--color-grey);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-align: center;
  outline: none;
  margin-bottom: 0.5rem;
}

.inputField:focus {
  border-color: var(--color-signal);
  box-shadow: 0 0 0.5rem var(--color-signal);
}
