.container h1 {
  margin-top: 1rem;
}

.container {
  width: 40%;
  height: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

.container h2 {
  margin-top: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 60%;
  }
}

@media only screen and (min-width: 1921px) {
  .container {
    padding-left: 4rem;
  }
}

/* Delayed rendering to avoid flickering */
.container {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.2s forwards;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}
