.container {
  height: 95%;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  padding-bottom: 1rem;
  overflow-y: hidden;
}

.container h1 {
  margin-bottom: 1rem;
}

.rightAligned:hover {
  color: var(--color-success);
  cursor: pointer;
}
