.container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.container h1 {
  margin-bottom: 1rem;
}

/* Ensure that in app navigation next button is rendered on the right */
.rightAligned {
  width: 7rem;
  margin-left: auto;
}

.rightAligned:hover {
  color: var(--color-success);
  cursor: pointer;
}
