.noLink {
  pointer-events: none;
}

.button {
  background-color: var(--color-signal);
  color: var(--color-main);
  border: none;
  padding: 0.5rem;
  margin: 0.2rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.5rem var(--color-signal);
}
