.negativeBalance {
  color: var(--color-error);
}

.errorText {
  color: var(--color-error);
}

.balancesSettled {
  margin-top: 0.5rem;
  font-size: 2rem;
}

.userDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.separator {
  margin: 0 0.3rem;
}

.balances {
  margin: 0 auto;
}
