/* Logo.css */
.logoLink {
  text-decoration: none;
}

.logoLink:focus,
.logoLink:active {
  outline: none;
}

.logoImage {
  width: 40%;
  max-width: 50rem;
  transform: translate(0, 1vh);
}

@media only screen and (min-width: 1921px) {
  .logoImage {
    width: 40%;
    max-width: 50rem;
    transform: translate(0, 2vh);
  }
}
