.clientAccordionContainer {
  width: 20rem;
  border: 0.15rem solid var(--color-grey);
  border-radius: 1rem;
  overflow-x: hidden;
  margin-bottom: 1rem;
}

.clientInfoList li {
  font-size: 1.4rem;
  color: var(--color-dark);
  font-family: "Ubuntu", sans-serif;
}

.accordionSummary {
  font-size: 1.4rem;
  padding: 0rem 0rem;
  color: var(--color-dark);
  font-family: "Ubuntu", sans-serif;
}
