.container {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 0.5rem;
}

.container h1 {
  margin-bottom: 0rem;
}

.icons {
  white-space: nowrap;
}

.section {
  border-bottom: 0.2rem solid var(--color-signal-reduced-opacity);
  width: 99%;
  margin: 0 auto;
}

/* Delayed rendering to avoid flickering */
.container {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.2s forwards;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}
