.container {
  padding: 0 0.5rem; /* Limiting width while keeping scrollbar on the border */
  overflow-y: auto;
  height: 90%;
  overflow-x: hidden;
}

.container h1 {
  margin-bottom: 0.5rem;
}

.icons {
  white-space: nowrap;
}

.section {
  border-bottom: 0.2rem solid var(--color-signal-reduced-opacity);
  width: 99%;
  margin: 0 auto;
}
