.container {
  width: 80%;
  margin: 0 auto;
  overflow-y: auto;
}

h2 {
  padding-top: 0.5rem;
}

h3 {
  font-size: 1.7rem;
  margin-bottom: 0rem;
}

.instantSplit {
  margin-top: 1.5rem;
}

.instantSplit p {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
