.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  width: fit-content;
  border: 0.15rem solid var(--color-grey);
  border-radius: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  height: fit-content;
  outline: none;
  outline-color: var(--color-grey);
  margin: 0 auto;
  margin-top: 1rem;
}

.invitationLink {
  padding-bottom: 0.3rem;
}

.container:hover,
.container:focus {
  border-color: var(--color-signal);
  background-color: var(--color-body);
}

.groupName {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .container {
    width: 30rem;
  }
}
