.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  width: fit-content;
  max-width: 30rem;
  border: 0.15rem solid var(--color-grey);
  border-radius: 1rem;
  overflow-y: auto;
  height: fit-content;
  outline: none;
  outline-color: var(--color-grey);
  margin: 0 auto;
}

.container:hover,
.container:focus {
  border-color: var(--color-signal);
  background-color: var(--color-body);
}
