.select {
  color: var(--color-dark);
  background-color: var(--color-main);
  font-family: "Ubuntu", sans-serif;
  padding: 0.2rem 0.1rem;
  text-align: left;
  width: 20rem;
  border: 0.2rem solid var(--color-grey);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  margin-bottom: 0.5rem;
  outline-color: var(--color-grey);
}

.select:focus {
  border-color: var(--color-signal);
  box-shadow: 0 0 0.5rem var(--color-success);
}

.select.isUpdate {
  color: var(--color-grey);
}

.select.isUpdate:focus {
  color: var(--color-dark2);
}
