.container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.issue {
  height: 75%;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  justify-content: center;
}

.spinner {
  display: flex;
  justify-content: center;
  height: 75%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.emojiParenthesis {
  white-space: nowrap;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--color-success);
}

@media (max-width: 500px) {
  .container li {
    border-top: 0.15rem solid var(--color-signal-reduced-opacity);
  }
}

/* Delayed rendering to avoid flickering */
.container {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.2s forwards;
  padding-left: 0rem;
  padding-right: 0rem;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}
