.container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  padding-left: 5rem;
  padding-right: 2rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.issue {
  height: 75%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.spinner {
  display: flex;
  justify-content: center;
  height: 75%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.emojiParenthesis {
  white-space: nowrap;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--color-success);
}

@media (max-width: 500px) {
  .container {
    padding: 0 1rem; /* Limiting width while keeping scrollbar on the border */
  }
  .container li {
    border-top: 0.15rem solid var(--color-signal-reduced-opacity);
  }
}
