.container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  padding-left: 8%;
  width: 90%;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.issue {
  height: 75%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.spinner {
  height: 75%;
  margin: 0 auto;
  margin-top: 2rem;
}

.emojiParenthesis {
  white-space: nowrap;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--color-success);
}

@media (max-width: 500px) {
  .container {
    padding-left: 0;
    width: 95%;
  }
  .container li {
    border-top: 1.5px solid var(--color-signal-reduced-opacity);
  }
}
