.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-body);
  position: fixed;
  position: static;
  text-align: center;
  max-height: 4rem;
}

@media (max-height: 768px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}

/* Hide Header on mobile when keyboard is shown */
@media screen and (max-height: 500px) {
  .header {
    display: none;
  }
}

.LinkToHomepage {
  text-decoration: none;
  color: var(--color-dark);
}
