.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.callToAction {
  margin: 0 auto;
}

/* hacky percentage due to component positioning */
.icon {
  margin-top: 1rem;
  margin-left: 46%;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 2rem;
  }
  .icon {
    margin-left: 42%;
  }
}
