.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.3;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .item {
    border-top: 0.15rem solid var(--color-signal-reduced-opacity);
    padding-left: 0rem;
  }
}
