.button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  color: var(--color-signal);
}

.button:active,
.button:focus {
  outline: none;
  box-shadow: none;
}

.button:hover {
  color: var(--color-dark);
}
