.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  background: var(--color-body);
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  max-width: 80%;
}

.button {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.confirmationMessage {
  text-align: left;
  /* explicit to fix wrong color and cursor being applied in certain cases */
  line-height: 1.4;
  color: var(--color-dark);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .confirmationMessage {
    padding-left: 1rem;
  }
}

@media only screen and (min-width: 1921px) and (min-height: 1081px) {
  .modal {
    align-items: flex-start;
  }
  .modalContent {
    margin-top: 20vh;
  }
}

@media only screen and (min-height: 2001px) {
  .modal {
    align-items: flex-start;
  }
  .modalContent {
    margin-top: 20vh;
  }
}
