.button {
  background-color: var(--color-signal-reduced-opacity);
  color: var(--color-dark);
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  width: 10rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-weight: 500;
  border: 0.2rem solid var(--color-dark);
  border-radius: 2rem;
}

.inactiveButton {
  background-color: var(--color-main);
}

.inactiveButton:hover {
  color: var(--color-dark-dark);
  border: 0.2rem solid var(--color-dark-dark);
}

.activeButton:hover {
  cursor: default;
}
