.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-body);
  z-index: 999;
  margin-top: 1rem;
  position: static;
  height: 3rem;
  gap: 2rem;
  color: var(--color-grey);
}

.footer a {
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;

  color: var(--color-grey);
}

.footer a:hover {
  text-decoration: underline;
  color: var(--color-grey-dark);
}

@media (max-height: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }
}

/* Hide footer on mobile when keyboard is shown */
@media screen and (max-height: 500px) {
  .footer {
    display: none;
  }
}
