.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  position: static;
  height: 3.5rem;
  gap: 2rem;
  color: var(--color-grey);
  margin: 0 auto;
  text-align: center;
  padding-left: 4.2rem;
  padding-right: 3rem;
}

.footer a {
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-grey);
}

.footer a:hover {
  color: var(--color-grey-dark);
}

.localeSwitcher {
  margin-right: auto;
}

/* Delayed rendering to avoid flickering */
.footer {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.2s forwards;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}

/* Hide footer on mobile when keyboard is shown */
@media screen and (max-height: 500px) {
  .footer {
    display: none;
  }
}

@media (max-height: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    padding-left: 3rem;
    padding-right: 2rem;
  }
  .localeSwitcher {
    margin-right: auto;
  }
}

/* Media queries for responsive design
/* Mobile*/
@media only screen and (max-width: 768px) {
  .footer {
    width: 100vw;
  }
}

/* smartphone landscape mode*/
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .footer {
    width: 60vw;
  }
}

/* Tablet and portrait mode */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: portrait) {
  .footer {
    width: 70vw;
  }
}

/* Tablet landscape mode */
@media only screen and (min-device-width: 769px) and (max-device-width: 1366px) and (orientation: landscape) {
  .footer {
    width: 55vw;
    max-width: 55rem;
  }
}

/* Laptop*/
@media only screen and (min-width: 769px) and (max-width: 1440px) {
  .footer {
    width: 60vw;
    max-width: 55rem;
  }
}

/* Larger Screens */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .footer {
    width: 70rem;
  }
}

@media only screen and (min-width: 1921px) {
  .footer {
    width: 70rem;
  }
}

/* use full display for rendering main when display height is small, e.g. smartphone landscape mode*/
@media screen and (max-height: 500px) {
  main {
    height: 100vh;
    height: 100svh;
    width: 100vw;
  }
}
