.container {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  padding-left: 8%;
  width: 90%;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 500px) {
  .container {
    padding-left: 0;
    width: 95%;
  }
  .item {
    border-top: 1.5px solid var(--color-signal-reduced-opacity);
  }
}
