.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-weight: 1.5rem;
  line-height: 1.5;
}

.confirm {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  color: var(--color-success);
}

.confirmText {
  font-size: 1.4rem;
}

.confirm:hover {
  color: var(--color-success-dark);
}
