.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
  cursor: pointer;
}

.icon {
  font-size: 2rem;
}

.iconExplanation {
  font-size: 1.2rem;
}

.container:hover {
  color: var(--color-success);
}
