.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  padding-bottom: 1rem;
  margin: 0 auto;
  overflow-y: auto;
}

/* Delayed rendering to avoid flickering */
.container {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.2s forwards;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}
