.groupActionsBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Delayed rendering to hide initial transforming of DefaultBar and UserSettingsBar */
.groupActionsBar {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.25s forwards;
}

@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}

@media only screen and (max-width: 360px) {
  .groupActionsBar {
    margin-bottom: 0.5rem;
  }
}
