.container {
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.key {
  font-weight: bold;
}

.listItem {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
  text-align: left;
}
