.container {
  /*prevent design from breaking in case of huge amounts */
  width: 110%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.key {
  font-weight: bold;
}

.listItem {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
}
