.inputField {
  color: var(--color-dark);
  font-family: "Ubuntu", sans-serif;
  width: 10rem;
  padding: 0.2rem;
  font-size: 1.6rem;
  text-align: center;
}

.inputField:focus {
  border-color: var(--color-signal);
  box-shadow: 0 0 0.5rem var(--color-success);
}
