.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--color-signal);
  font-size: 2rem;
  height: 8vh;
  background-color: var(--color-body);
}

.LinkToHomepage {
  text-decoration: none;
  color: var(--color-dark);
}

@media (min-width: 769px) {
  .header {
    margin-top: 10vh;
  }
}
