.container {
  margin: 0 auto;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  padding-bottom: 1rem;
  overflow-y: auto;
}

.rightAligned {
  width: 7rem;
  margin-left: auto;
}

.rightAligned:hover {
  color: var(--color-success);
  cursor: pointer;
}
