.container h1 {
  margin-bottom: 0.5rem;
}

.container h2 {
  margin-top: 0rem;
}

.container {
  width: 40%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 60%;
  }
}

/* Ensure that in app navigation next button is rendered on the right */
.rightAligned {
  width: 7rem;
  margin-left: auto;
}

.rightAligned:hover {
  color: var(--color-success);
  cursor: pointer;
}
