.container {
  overflow-y: auto;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 2.5rem;
}

.inputField,
.select {
  color: var(--color-dark);
  font-family: "Ubuntu", sans-serif;
  width: 20rem;
  padding: 0.2rem;
  border: 0.2rem solid var(--color-grey);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-align: center;
  outline: none;
  margin-right: 0.4rem;
}

.fileInputField {
  background-color: var(--color-main);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  width: 25rem;
  text-align: center;
  outline: auto;
  outline-color: var(--color-grey);
  margin-bottom: 0.5rem;
}

.select {
  background-color: var(--color-main);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  width: 20rem;
  text-align: center;
  outline: auto;
  outline-color: var(--color-grey);
}

.fileInputField:focus,
.select:focus,
.inputField:focus {
  border-color: var(--color-signal);
  box-shadow: 0 0 0.5rem var(--color-success);
}

.textArea {
  width: 25rem;
}

.button {
  background-color: var(--color-signal);
  color: var(--color-main);
  font-weight: bold;
  border: none;
  width: 8rem;
  padding: 0.4rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: var(--color-success);
  box-shadow: 0 0 0.5rem var(--color-success);
}

.errorText {
  color: var(--color-error);
}

label {
  font-size: 1.8rem;
}
