.idleOnMount,
.storedCurrency {
  color: var(--color-grey);
}

.select {
  background-color: var(--color-main);
  font-family: "Ubuntu", sans-serif;
  padding: 0.2rem;
  border: 0.2rem solid var(--color-grey);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-align: center;
  outline: none;
  margin-bottom: 0.5rem;
  width: 20rem;
  outline-color: var(--color-grey);
}

.select:focus {
  border-color: var(--color-signal);
  box-shadow: 0 0 0.5rem var(--color-success);
}
