.container {
  width: 90%;
  margin: 0 auto;
  overflow-y: auto;
  background-color: transparent;
}

h2 {
  padding-top: 0.5rem;
}

li {
  font-size: 1.6rem;
}

.button {
  background-color: var(--color-signal);
  color: var(--color-main);
  border: none;
  padding: 0.5rem;
  margin: 0.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 0.5rem var(--color-signal);
}

.button:hover {
  background-color: var(--color-success);
  box-shadow: 0 0 0.5rem var(--color-success);
}

.icons,
.emojiParenthesis {
  white-space: nowrap;
}
