.list {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  list-style: disc;
  margin: 0 auto;
}

.introText {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 40rem;
}

.listItem {
  line-height: 1.4;
  width: 40rem;
  margin-left: 4rem;
}

.strong {
  font-weight: bold;
}

.dataText,
.introText {
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .introText {
    width: 30rem;
    margin: 0 auto;
  }
  .listItem {
    margin-left: 3.5rem;
    width: 30rem;
  }
}
