.list {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  list-style: disc;
  padding-left: 2rem;
}

.listItem {
  line-height: 1.4;
  font-size: 1.6rem;
}

.strong {
  font-weight: bold;
}

.dataText,
.introText {
  margin-top: 1rem;
}
