.container {
  height: 4rem;
  margin: 0 auto;
}

.changeName {
  margin-top: 0.9rem;
}

.groupMemberName {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.icon {
  margin-left: 0.5rem;
  transform: translateY(0.1rem);
}
