.totalsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.expenseEmoji {
  transform: scale(1.15);
}

.list {
  width: 85%;
  max-width: 33rem;
}

.item {
  display: flex;
  justify-content: space-between;
}

.value {
  text-align: right;
}
