.container {
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  padding-bottom: 1rem;
  margin: 0 auto;
  height: 90%;
  overflow-y: auto;
}

.icons {
  white-space: nowrap;
}
