.container {
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  padding-bottom: 1rem;
  margin: 0 auto;
  height: 90%;
  width: 75%;
  overflow-y: auto;
  overflow-x: hidden;
}

.container h1 {
  margin-bottom: 1rem;
}

.icons {
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  .container {
    width: 80%;
    padding: 0 1rem;
  }
}
