.customIcon {
  cursor: pointer;
  color: var(--color-structure-elements);
}

.customIcon:hover {
  color: var(--color-hover);
}

.iconContainer {
  position: relative;
  display: inline-block;
}

.tooltip {
  font-size: 1.6rem;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-dark);
  color: var(--color-body);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  white-space: nowrap;
  z-index: 1;
}
.iconContainer:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
