.bottomSectionExplanation {
  margin-top: 1rem;
}

.emojiParenthesis {
  white-space: nowrap;
}

.noLink {
  pointer-events: none;
}

.explanation {
  padding: 0.5rem 1rem;
  line-height: 1.3;
  text-align: justify;
}
