.button {
  background-color: var(--color-signal);
  color: var(--color-main);
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 10px;
  width: fit-content;
  margin: 1rem;
}

/* Align the button within its container */
.leftAligned {
  display: flex;
  justify-content: left;
}

.rightAligned {
  display: flex;
  justify-content: right;
}

.centerAligned {
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: var(--color-success);
}
