.container {
  width: 100%;
  height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  padding-bottom: 2rem;
}

@media screen and (max-width: 767px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}
