.customIcon {
  color: var(--color-structure-elements);
}

.hover:hover {
  color: var(--color-success);
}

.iconContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: 7rem;
  line-height: 1.2;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-dark);
  color: var(--color-body);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  white-space: nowrap;
  z-index: 1;
}

.iconExplanation {
  font-size: 1.3rem;
}
