.iconContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  line-height: 1.2;
  color: var(--color-dark);
  margin-top: 1rem;
}

.iconExplanationIsIdle {
  color: var(--color-grey);
}

.iconExplanation {
  margin-top: 0.2rem;
  font-size: 1.4rem;
  line-height: 1;
  text-align: center;
  height: 2.5rem;
}

.iconContainer:hover .customIcon {
  color: var(--color-dark-dark);
}

.iconContainer:hover .iconExplanation {
  color: var(--color-dark-dark);
}
