.container {
  width: 90%; /* Prevent design from breaking in case very long one word expense description is entered */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}

.expenseEmoji {
  margin-top: 1rem;
  font-size: 2rem;
  transform: translateX(0.3rem);
  scale: 1.15;
  margin: 0 auto;
}

.detailsBox {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  max-width: 65%;
}

@media screen and (max-width: 767px) {
  .detailsBox {
    max-width: 75%;
  }
}

/* Delayed rendering to avoid flickering */
.container {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.2s forwards;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}
