.spinner {
  position: absolute;
  margin: 0 auto;
  margin-top: 1rem;
}

.groupMemberHeader {
  padding-left: 0.3rem;
  margin-bottom: 0.5rem;
}

.members {
  height: 60vh;
  overflow-y: scroll;
}

.userName {
  font-size: 1.6rem;
  font-weight: bold;
}

.emoji {
  font-size: 1.3rem;
  padding-top: 0.2rem;
  margin-right: 0.4rem;
}

.button {
  font-size: 2rem;
  margin-left: auto;
}

.listItem {
  display: flex;
  flex-direction: row;
  width: 23rem;
}

.members li {
  font-size: 1.6rem;
  padding-right: 0.5rem;
}

.membersContainer {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .membersContainer {
    width: 120%;
  }
}
