.spinner {
  position: absolute;
  margin: 0 auto;
  margin-top: 1rem;
}

.members {
  height: max-content;
  overflow-y: scroll;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  width: 23rem;
  border: 0.15rem solid var(--color-grey);
  border-radius: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  height: fit-content;
  outline: none;
  outline-color: var(--color-grey);
}

.userName {
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 0.3rem;
}

.emoji {
  font-size: 1.3rem;
  padding-top: 0.4rem;
  margin-right: 0.4rem;
}

.button {
  font-size: 2rem;
  margin-left: auto;
}

.listItem {
  display: flex;
  flex-direction: row;
  width: 21.7rem;
  font-size: 1.6rem;
  padding-right: 0.5rem;
  line-height: 1.1;
}
