.container {
  width: 100%;
  padding-bottom: 0.5rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.emoji {
  margin-top: 1rem;
  font-size: 2rem;
  transform: translateX(0.5rem);
}

.detailsBox {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

/* Delayed rendering to avoid flickering */
.container {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.2s forwards;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}
