.container {
  overflow-y: auto;
  padding-bottom: 0.5rem;
  width: 70%;
  margin: 0 auto;
}

.homepageHeader {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 500px) {
  .container {
    width: 80%;
    padding-left: 0rem;
  }
}

.acceptInvitationSection {
  margin: 0 auto;
}
