.payment {
  display: flex;
  font-size: 1.6rem;
  line-height: 1.3;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin: 0 auto;
  color: var(--color-dark);
  width: 45rem;
}

.payment:active,
.payment:hover {
  background-color: var(--color-body);
  color: var(--color-dark-dark);
  border-radius: 1rem;
}

.paymentEmoji {
  margin-right: 0.5rem;
  transform: scale(0.9) translateY(0.1rem);
}

.paymentAmount {
  text-align: right;
  width: 14rem; /* white space on the left */
  margin-top: 0.25rem;
}

.paymentInfo {
  margin-top: 0.15rem;
}

.paymentTo {
  margin-right: 0.4rem;
}

.leftColumn {
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  width: 31rem;
}

@media screen and (max-width: 500px) {
  .payment {
    font-size: 1.5rem;
    line-height: 1.2;
    color: var(--color-dark);
    width: 99vw;
    margin: 0;
  }
  .paymentAmount {
    width: 12rem;
  }
}

@media screen and (max-width: 360px) {
  .paymentAmount {
    width: 10rem; /* white space on the left */
  }
}

@media screen and (max-width: 500px) {
  :root {
    --min-width: 14rem;
    --max-width: 20rem;
    --screen-width: 500px;
  }

  .paymentInfo {
    max-width: calc(
      var(--min-width) + (var(--max-width) - var(--min-width)) *
        ((100vw - 320px) / (var(--screen-width) - 320))
    );
    overflow-x: hidden;
  }
}
