.payments {
  display: flex;
  line-height: 1.25;
}

.leftColumn {
  display: flex;
  border-top: 0.2rem solid var(--color-signal-reduced-opacity);
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.paymentEmoji {
  margin-right: 1rem;
}

.paymentAmount {
  text-align: right; /* numbers are right aligned to be easily readable */
  width: 10rem; /* white space on the left */
}

.paymentTo {
  color: var(--color-dark);
}

.rightColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  margin-left: 3rem;
  width: 80%;
  border-top: 0.2rem solid var(--color-signal-reduced-opacity);
  overflow-x: hidden;
}
@media (max-width: 500px) {
  .rightColumn {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    margin-left: 1rem;
    border-top: none;
  }
  .leftColumn {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    margin-right: 0.5rem;
    border-top: none;
  }
}
