.container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  padding-bottom: 0.5rem;
}

.text {
  text-align: left;
}

.dotsIcon {
  transform: translateY(0.3rem);
}

.installIcon {
  transform: translateY(0.3rem);
  margin-right: 0.2rem;
}

.installPwaExplanationList {
  list-style-type: decimal;
  text-align: left;
  margin-left: 2rem;
}
