.container {
  padding: 0.5rem 1rem;
  line-height: 1.5;
  width: 80%;
  margin-left: 5rem;
}

.container h2 {
  line-height: 1;
}

.bar {
  margin-left: 8%;
  width: 90%;
  margin-bottom: 0.5rem;
}

/* Mobile*/
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    margin-left: 0.5rem;
  }
  .noLink {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}
