.container {
  line-height: 1.5;
  width: 100%;
  padding: 0.5rem 0;
}
.bar {
  width: 100%;
  margin-bottom: 0.5rem;
}

/* Mobile*/
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin-left: 0.5rem;
  }
  .bar {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}
