.container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.text {
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

.installPwaExplanationList {
  list-style-type: decimal;
  text-align: left;
  margin-left: 2rem;
}
