.balancesContainer {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.balancesContainer a {
  color: var(--color-dark);
}

.balancesContainer a:hover {
  color: var(--color-dark-dark);
}

.groupMemberDetails {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  line-height: 1.6;
  width: 44rem;
}

.groupMemberListItem {
  list-style: none;
  margin-top: 0.25rem;
  width: fit-content;
  margin: 0 auto;
  padding: 0.2rem 0.6rem;
}

.groupMemberListItem:active,
.groupMemberListItem:hover {
  background-color: var(--color-body);
  border-radius: 1rem;
}

.leftColumn {
  text-align: left;
  width: 26rem;
  display: flex;
}

.emoji {
  font-size: 1.4rem;
  margin-right: 0.5rem;
  display: flex;
  align-self: center;
}

.rightColumn {
  width: 18rem;
  text-align: right;
}

.positiveBalance {
  color: var(--color-dark);
}

.negativeBalance {
  color: var(--color-error);
}

@media screen and (max-width: 500px) {
  .groupMemberDetails {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 0.3rem 0.6rem;
    color: var(--color-dark);
    width: 97vw;
    margin: 0;
  }
  .rightColumn {
    width: 12rem;
  }
  .emoji {
    transform: translateX(-0.4rem);
    margin-right: 0.1rem;
  }
}

@media screen and (max-width: 360px) {
  .groupMemberDetails {
    font-size: 1.4rem;
    line-height: 1.1;
  }
}
