.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.emojis {
  display: flex;
  gap: 0.4rem;
  margin: 0 auto;
  margin-bottom: 0rem;
  margin-top: 0rem;
  font-family: "Noto Color Emoji";
}
