.container {
  margin-top: 0.8rem;
  height: 50%;
  overflow-y: auto;
}

@media (max-width: 1200px) {
  .container {
    height: 40%;
  }
}

@media (max-width: 768px) {
  .container {
    height: 55%;
  }
}

@media (max-width: 480px) {
  .container {
    height: 40%;
  }
}
