.container {
  padding-top: 2rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  align-items: center;
  overflow-x: hidden;
}

.termsAndConditions {
  width: 80%;
}
