.balancesContainer {
  height: 75%;
  overflow-y: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.userDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userListItem {
  list-style: none;
  margin-top: 0.8rem;
}

.leftColumn {
  margin-left: 7rem;
}

.rightColumn {
  margin-right: 7rem;
}

.userName {
  text-decoration: none;
}

.userName:hover {
  color: var(--color-success);
}

.positiveBalance {
  color: var(--color-dark);
}

.negativeBalance {
  color: var(--color-error);
}

@media (max-width: 500px) {
  .leftColumn {
    margin-left: 2rem;
  }

  .rightColumn {
    margin-right: 2rem;
  }

  .balancesContainer li {
    border-bottom: none;
  }
}
