.balancesContainer {
  height: 100%;
  overflow-y: auto;
}

.userDetails {
  display: flex;
  flex-direction: row;
  width: fit-content;
  font-size: 1.8rem;
  line-height: 1.3;
  max-width: 40rem;
  min-width: 25rem;
  margin: 0 auto;
}
.userListItem {
  list-style: none;
  margin-top: 0.25rem;
}

.leftColumn {
  text-align: left;
  width: 22rem;
}

.rightColumn {
  width: 11rem;
  text-align: right;
}

.userName {
  text-decoration: none;
}

.positiveBalance {
  color: var(--color-dark);
}

.negativeBalance {
  color: var(--color-error);
}
