.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  padding-bottom: 1rem;
}

.button {
  background-color: var(--color-error);
  color: var(--color-main);
  border: none;
  padding: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 1rem;
  width: fit-content;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

.button:hover {
  background-color: var(--color-error);
  box-shadow: 0 0 0.5rem var(--color-error);
}

.buttonContainer {
  margin-top: 5rem;
}
