.contentContainer {
  width: 90%;
  margin: 0 auto;
}

.button {
  background-color: var(--color-error);
  color: var(--color-main);
  border: none;
  padding: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 1rem;
  width: fit-content;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  margin: 0 auto;
}

.button:hover {
  background-color: var(--color-error);
  box-shadow: 0 0 0.5rem var(--color-error);
}

/* Ensures confirmation button is not moved by copy group code element state change */
.buttonContainer {
  margin: 0 auto;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
}

/* Prevent button from disappearing south on very large screens */
@media (min-width: 2001px) {
  .buttonContainer {
    bottom: 40%;
  }
}
