.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  width: 70%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 1rem;
}

.buttonContainer {
  margin-top: 1rem;
}

@media (max-width: 500px) {
  .groupCode {
    margin-bottom: 0.3rem;
    margin: 0 auto;
  }
}
