.container {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.beneficiariesList {
  display: flex;
  flex-wrap: wrap;
}

.beneficiary {
  white-space: nowrap;
}

.key {
  font-weight: bold;
  white-space: nowrap;
}
