.container {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.beneficiariesList {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.3;
}

.beneficiary {
  white-space: nowrap;
}

.key {
  font-weight: bold;
}

.emoji {
  font-size: 1.8rem;
  transform: translateX(0.5rem);
}
