.spinner {
  height: 75%;
  margin: 0 auto;
  margin-top: 2rem;
}

.container {
  width: 100%;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  overflow-x: hidden;
}

@media (max-width: 500px) {
  .container {
    padding: 0 1rem;
  }
}
