.container {
  margin: 0 auto;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  padding-top: 4rem;
  padding-bottom: 0.5rem;
  overflow-y: auto;
}

/* Delayed rendering to avoid flickering */
.container {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.2s forwards;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}

.logo {
  width: 100rem;
}
