.container {
  margin: 0 auto;
  padding: 0 2rem; /* Limiting width while keeping scrollbar on the border */
  padding-top: 4rem;
  padding-bottom: 0.5rem;
  overflow-y: auto;
  width: 100%;
  text-align: center;
}

.pageNotFoundHeader {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.goToMainButton {
  text-align: center;
}

/* Delayed rendering to avoid flickering */
.container {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.2s forwards;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 1921px) {
  .container {
    width: 60%;
  }
}
