.terms {
  display: flex;
  flex-direction: column;
  font-style: italic;
  margin-top: 2rem;
  padding: 0 1rem; /* Limiting width while keeping scrollbar on the border */
}

.noWrap {
  white-space: nowrap;
}
