.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorMessage {
  padding-bottom: 0.3rem;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-body);
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
}

@media only screen and (min-width: 1921px) and (min-height: 1081px) {
  .modal {
    align-items: flex-start;
  }
  .modalContent {
    margin-top: 20vh;
  }
}

@media only screen and (min-height: 2001px) {
  .modal {
    align-items: flex-start;
  }
  .modalContent {
    margin-top: 20vh;
  }
}
