.container {
  margin-top: 0.8rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  padding-left: 8%;
  width: 90%;
  margin: 0 auto;
}

.failMessage {
  padding-top: 0.5rem;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.spinner {
  height: 75%;
  margin: 0 auto;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--color-success);
}

@media (max-width: 500px) {
  .container {
    padding-left: 0rem;
    width: 95%;
  }
  .container li {
    border-top: 1.5px solid var(--color-signal-reduced-opacity);
  }
}
