.paymentMaker {
  width: 15rem;
  padding: 0.2rem 0.5rem;
  text-align: left;
  margin-right: 0.4rem;
  font-size: 1.6rem;
  outline: none;
  border: 0.2rem solid var(--color-grey);
  border-radius: 0.5rem;
  color: var(--color-dark);
  background-color: var(--color-main);
  padding: 0.2rem 0.5rem;
}
.paymentMaker:focus {
  border-color: var(--color-signal);
  box-shadow: 0 0 0.5rem var(--color-success);
}

.paymentMaker.isUpdate {
  color: var(--color-grey);
}

.paymentMaker.isUpdate:focus {
  color: var(--color-dark2);
}
