.expense {
  display: flex;
  font-size: 1.6rem;
  line-height: 1.3;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin: 0 auto;
  color: var(--color-dark);
  width: 45rem;
}

.expense:active,
.expense:hover {
  background-color: var(--color-body);
  color: var(--color-dark-dark);
  border-radius: 1rem;
}

.expenseEmoji {
  transform: scale(1) translateX(0.1rem) translateY(0.2rem);
}

.expenseInfo {
  margin-left: 0.4rem;
  margin-top: 0.3rem;
}

/* Ensure that numbers are right aligned to be easily readable */
.expenseAmount {
  text-align: right;
  width: 14rem; /* white space on the left */
  margin-top: 0.3rem;
}

.leftColumn {
  display: flex;
  flex-direction: row;
  width: 31rem;
}

.forAll {
  color: var(--color-dark);
  background-color: var(--color-success-reduced-opacity);
  font-size: 1.2rem;
  border: 0.1rem solid var(--color-dark);
  border-radius: 1rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-top: 0.4rem;
  margin-left: 0.25rem;
  margin-right: 0.1rem;
  white-space: nowrap;
  height: fit-content;
}

.payer {
  font-style: italic;
}

.leftColumn .expenseEmoji {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 500px) {
  .expense {
    font-size: 1.5rem;
    line-height: 1.2;
    color: var(--color-dark);
    width: 99vw;
    margin: 0;
  }
  .expenseEmoji {
    margin-right: 0rem;
  }
  .expenseInfo {
    max-width: 22rem;
    overflow-x: hidden;
  }
  .expenseAmount {
    width: 11rem; /* white space on the left */
  }
}

@media screen and (max-width: 480px) {
  .expense {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .expenseEmoji {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 400px) {
  .expense {
    font-size: 1.4rem;
  }
  .expenseAmount {
    width: 10rem;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --min-width: 14rem; /* Minimum width for expenseInfo */
    --max-width: 20rem; /* Maximum width for expenseInfo */
    --screen-width: 500px; /* Initial screen width */
  }

  .expenseInfo {
    max-width: calc(
      var(--min-width) + (var(--max-width) - var(--min-width)) *
        ((100vw - 320px) / (var(--screen-width) - 320))
    );
    overflow-x: hidden;
  }
}
