.expenseLink {
  color: var(--color-dark);
}

.expenseLink:hover {
  color: var(--color-dark-dark);
}

.expense {
  display: flex;
  line-height: 1.25;
}

.expense:hover {
  background-color: var(--color-body);
}

.leftColumn {
  display: flex;
  border-top: 0.2rem solid var(--color-signal-reduced-opacity);
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

/* Ensure that numbers are right aligned to be easily readable */
.expenseAmount {
  text-align: right;
  width: 11rem; /* white space on the left */
}

.rightColumn {
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  border-top: 0.2rem solid var(--color-signal-reduced-opacity);
  overflow-x: hidden;
}

.forAll {
  color: var(--color-dark);
  background-color: var(--color-signal-reduced-opacity);
  font-size: 1.4rem;
  border: 0.1rem solid var(--color-dark);

  border-radius: 1rem;
  padding-left: 0.2rem;
  padding-right: 0.5rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-left: 0.4rem;
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
}

.rightColumn .expenseEmoji {
  margin-bottom: 0.5rem;
}

@media (max-width: 500px) {
  .rightColumn {
    margin-left: 1rem;
    border-top: none;
    padding-top: 0.1rem;
    padding-bottom: 0.25rem;
  }
  .leftColumn {
    margin-right: 0.5rem;
    border-top: none;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
  }
}
