.expenses {
  display: flex;
  line-height: 1.2;
}

.leftColumn {
  display: flex;
  border-top: 0.2rem solid var(--color-signal-reduced-opacity);
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.expenseEmoji {
  transform: translateX(0.5rem);
  transform: translateY(0.2rem);
  margin-right: 1rem;
}

/* Ensure that numbers are right aligned to be easily readable */
.expenseAmount {
  text-align: right;
  width: 9rem; /* white space on the left */
}

.rightColumn {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  border-top: 0.2rem solid var(--color-signal-reduced-opacity);
  overflow-x: hidden;
}

.rightColumn .expenseEmoji {
  margin-bottom: 0.5rem;
}

@media (max-width: 500px) {
  .rightColumn {
    margin-left: 1rem;
    border-top: none;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
  }
  .leftColumn {
    margin-right: 0.5rem;
    border-top: none;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
  }
}
