.container {
  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: 0.5rem;
  height: 75%;
}

.spinner {
  display: flex;
  justify-content: center;
  height: 75%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.issue {
  height: 75%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

/* Delayed rendering to avoid flickering */
.container {
  opacity: 0;
  animation: delayedRender 0.1s ease 0.2s forwards;
}
@keyframes delayedRender {
  to {
    opacity: 1;
    visibility: visible;
  }
}
