.balancesContainer {
  height: 75%;
  overflow-y: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.spinner {
  display: flex;
  justify-content: center;
  height: 75%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
