.container {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 75%;
}

.spinner {
  display: flex;
  justify-content: center;
  height: 75%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
