.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputField {
  z-index: 2;
}

.button {
  font-size: 2rem;
  border: none;
  padding-left: 1.1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
  color: var(--color-main);
  z-index: 1;
  background-color: inherit;
}

.notCopied {
  background-color: inherit;
  color: var(--color-signal);
}

.notCopied:hover {
  color: var(--color-signal-dark);
  cursor: pointer;
}

.isCopied {
  background-color: inherit;
  color: var(--color-success);
}
