.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inputField {
  font-family: "Ubuntu", sans-serif;
  color: var(--color-dark);
  width: 50rem;
  padding: 0.3rem;
  border: 0.2rem solid var(--color-grey);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-align: center;
  outline: none;
  margin-right: 0.5rem;
}

.inputField:focus {
  outline: none;
  border-color: var(--color-signal);
  margin-right: 0.5rem;
}

.button {
  border: none;
  width: fit-content;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--color-signal-reduced-opacity);
  color: var(--color-main);
}

.notCopied {
  background-color: var(--color-signal);
}
.isCopied {
  background-color: var(--color-success);
}

.notCopied:hover {
  background-color: var(--color-success);
  box-shadow: 0 0 0.5rem var(--color-success);
}
