.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputField {
  z-index: 2;
}

.button {
  font-size: 1.5rem;
  border: none;
  padding-left: 0.4rem;
  padding-bottom: 0.1rem;
  color: var(--color-main);
  z-index: 1;
}

.notCopied {
  background-color: var(--color-main);
  color: var(--color-signal);
}
.isCopied {
  background-color: var(--color-main);
  color: var(--color-success);
}
