.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  cursor: pointer;
  line-height: 1.2;
  color: var(--color-dark);
}

.iconExplanation {
  display: flex;
  width: max-content;
  font-size: 1.3rem;
}

.icon {
  font-size: 3rem;
}

.container:hover {
  color: var(--color-dark-dark);
}
