.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6.5rem;
  cursor: pointer;
  line-height: 1.2;
}

.iconExplanation {
  display: flex;
  width: max-content;
  font-size: 1.3rem;
}

.icon {
  font-size: 3rem;
}

.tooltip {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  position: absolute;
  top: -80%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-dark);
  color: var(--color-body);
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  white-space: nowrap;
  z-index: 100;
}
