.balances {
  margin-top: 0.8rem;
  height: 70%;
  overflow-y: auto;
}

/* Default styles */
.balances {
  margin-top: 0.8rem;
  height: 50%;
  overflow-y: auto;
}

/* Styles for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .balances {
    height: 50%;
  }
}

@media (max-width: 480px) {
  .balances {
    height: 40%;
  }
}

.positiveBalance {
  padding-left: 0.4rem;
  color: var(--color-dark);
}

.negativeBalance {
  padding-left: 0.4rem;
  color: var(--color-error);
}

.userDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userName {
  margin-right: 0.5rem;
}

.userName:hover {
  color: var(--color-success);
}
