.container {
  width: 80%;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 500px) {
  .container {
    width: 80%;
    padding-left: 0rem;
  }
}

.homepageHeader {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.acceptInvitationSection {
  margin: 0 auto;
}
