.container {
  margin-top: 1rem;
  border: 0.2rem solid var(--color-grey);
  border-radius: 1rem;
  padding: 1rem 1rem;
  width: 90%;
  max-width: 40rem;
}

.explanation {
  font-size: 1.6rem;
}

input[type="checkbox"] {
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-main);
  border: 0.2rem solid var(--color-grey);
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  outline: none;
  vertical-align: middle;
  margin: 0.2rem;
}

input[type="checkbox"]:checked {
  background-color: var(--color-signal);
  width: 2.5rem;
  height: 2.5rem;
  border-color: var(--color-success);
  box-shadow: 0 0 0.5rem var(--color-success);
  /* checkmark form */
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

/* Style for the checkbox when checked and has the class .idleOnMount */
input[type="checkbox"].idleOnMount:checked {
  background-color: var(--color-grey);
}
