.explanation {
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  font-size: 1.6rem;
  overflow-y: scroll;
  height: fit-content;
  outline: none;
  line-height: 1.2;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.toggle {
  display: absolute;
  margin-left: 1.4rem;
}
